<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div th:fragment="modal-logout">
    <div id="logoutModal" class="logout-modal-box">
      <div class="logout-modal-content">
        <button class="logout-modal-close" onclick="closeLogoutModal()">

          &times;
        </button>


        <div class="logout-modal-icon">
          <i class="fas fa-sign-out-alt"></i>
        </div>
        <h3 class="logout-modal-title">Sair da Conta</h3>
        <p class="logout-modal-message">Tem certeza que deseja sair da sua conta?</p>
        <div class="logout-modal-actions">
          <button class="logout-btn-cancel" onclick="closeLogoutModal()">
            <i class="fas fa-times"></i> Cancelar
          </button>
          <button class="logout-btn-confirm" onclick="confirmLogout()">
            <i class="fas fa-sign-out-alt"></i> Sair
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>